<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="text" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
Hello, {{.}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
    </form>
    <br>
    <br>

<form action="/create-event" method="post">
    <input type="text" name="event" placeholder="Event"/>
    <input type="datetime-local" name="time" value="{{now}}"/>
    <button type="submit">Create Event</button>
</form>

{{/username}}

<ol>
    {{#events}}
    <li>
{{description}}{{time}}
    </li>
{{/events}}
</ol>

</body>
</html>